# LISTAS
### São mutáveis (e isso pode ser perigoso) e normmalmente montamos listas de mesmo tipo (e categoria de objetos) como, lista1 de nomes (string), lista2 com idades(int), lista3 com alturas(float), etc.

In [1]:
idade_r = 41
idade_s = 46
idade_me = 12
idade_mi = 10

print(idade_r)
print(idade_s)
print(idade_me)
print(idade_mi)

41
46
12
10

In [2]:
idades = [idade_r, idade_s, idade_me, idade_mi]
print(idades)

[41, 46, 12, 10]

In [3]:
# Quando temos mais de uma linha no notebook, apenas a última linha é impressa automaticamente e,
# nas anteriores, somos obrigados a usar a função print()
print(type(idades))
(len(idades))

<class 'list'>

4

In [4]:
idades.append(70)
idades

[41, 46, 12, 10, 70]

In [5]:
idades[3]

10

In [6]:
for idade in idades:
    print(idade)

41
46
12
10
70

In [7]:
idades.remove(70)
idades

[41, 46, 12, 10]

In [8]:
idades.append(46)
idades.remove(46)
idades

[41, 12, 10, 46]

In [9]:
idades.clear()
idades

[]

In [10]:
idades = [9,12,15,18,21]
idades

[9, 12, 15, 18, 21]

In [11]:
33 in idades

False

In [12]:
15 in idades

True

In [13]:
if 21 in idades:
    idades.remove(21)

idades

[9, 12, 15, 18]

In [14]:
if 32 in idades:
    idades.remove(32)

idades

[9, 12, 15, 18]

In [15]:
idades.insert(0,3)
idades

[3, 9, 12, 15, 18]

In [16]:
idades.append([45,60])
idades

[3, 9, 12, 15, 18, [45, 60]]

In [17]:
for elemento in idades:
    print('Recebi o elemento', elemento)

Recebi o elemento 3
Recebi o elemento 9
Recebi o elemento 12
Recebi o elemento 15
Recebi o elemento 18
Recebi o elemento [45, 60]

In [18]:
idades = [3,9,12,15,18]
idades.extend([45,60])
idades

[3, 9, 12, 15, 18, 45, 60]

In [19]:
for idade in idades:
    print(idade + 1)

4
10
13
16
19
46
61

In [20]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[4, 10, 13, 16, 19, 46, 61]

In [21]:
[(idade + 1) for idade in idades]

[4, 10, 13, 16, 19, 46, 61]

In [22]:
idades_proximo_ano = [(idade + 1) for idade in idades]
idades_proximo_ano

[4, 10, 13, 16, 19, 46, 61]

In [23]:
[idade for idade in idades if idade > 40]

[45, 60]

In [24]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 39]

[46, 61]

## Problemas da mutabilidade da lista

In [25]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [26]:
idades_original = [16,21,29,56,43]
faz_processamento_de_visualizacao(idades_original)

5
[16, 21, 29, 56, 43]
[16, 21, 29, 56, 43, 13]

In [27]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [28]:
faz_processamento_de_visualizacao()

0
[]
[13]

In [29]:
faz_processamento_de_visualizacao()

1
[13]
[13, 13]

In [30]:
faz_processamento_de_visualizacao()

2
[13, 13]
[13, 13, 13]

In [31]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]
[13, 13, 13, 13]

In [32]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [33]:
faz_processamento_de_visualizacao(lista = list())
faz_processamento_de_visualizacao(lista = list())
faz_processamento_de_visualizacao(lista = list())

0
[]
[13]
0
[]
[13]
0
[]
[13]

In [34]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [35]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
[13]
0
[]
[13]
0
[]
[13]
0
[]
[13]

# OBJETOS PRÓPRIOS

In [40]:
class ContaCorrente: # Definimos a classe

    def __init__(self, codigo): # Aqui definimos seu contrutor
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor): # Aqui definimos um método para esta classe
        self.saldo += valor

    def __str__(self): # E aqui definimos sua representação de string
        return f'[>>Código {self.codigo} / Saldo R$ {self.saldo}<<]'

In [41]:
conta_rodrigo = ContaCorrente(23)
print(conta_rodrigo)

[>>Código 23 / Saldo R$ 0<<]

In [42]:
conta_rodrigo.deposita(900)
print(conta_rodrigo)

[>>Código 23 / Saldo R$ 900<<]

In [43]:
conta_sara = ContaCorrente(46785)
conta_sara.deposita(1200)
print(conta_sara)

[>>Código 46785 / Saldo R$ 1200<<]

In [44]:
# Assim, ele retorna cada OBJETO (e sua posição na memória)
contas = [conta_rodrigo, conta_sara]
print(contas)

[<__main__.ContaCorrente object at 0x103ce8d10>, <__main__.ContaCorrente object at 0x103da5590>]

In [45]:
# E assim, o print de um objeto específico, retorna a representação de string dele
contas = [conta_rodrigo, conta_sara]
for conta in contas:
    print(conta)

[>>Código 23 / Saldo R$ 900<<]
[>>Código 46785 / Saldo R$ 1200<<]

In [46]:
# Aqui só existe 2 objetos, um conta_sara e um conta_rodrigo, pois da forma que foi feito eu não instanciei duas conta_rodrigo, apenas listei (referenciei) ele duas vezes. Isso pode ser perigoso, devido mutabilidade

contas = [conta_rodrigo, conta_sara, conta_rodrigo]
print(contas[0])
print(contas[1])
print(contas[2])

[>>Código 23 / Saldo R$ 900<<]
[>>Código 46785 / Saldo R$ 1200<<]
[>>Código 23 / Saldo R$ 900<<]

In [47]:
contas[2].deposita(900)
print(contas[0])
print(contas[2])

[>>Código 23 / Saldo R$ 1800<<]
[>>Código 23 / Saldo R$ 1800<<]

In [52]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(300)

contas = [conta_rodrigo, conta_sara]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código 23 / Saldo R$ 2100<<] [>>Código 46785 / Saldo R$ 1500<<]
[>>Código 23 / Saldo R$ 2400<<] [>>Código 46785 / Saldo R$ 1800<<]

In [53]:
# Neste exemplo, agora "contas" recebe na posição 0 o número da agência 96
contas.insert(0, 96)
print(contas[0], contas[1], contas[2])

96 [>>Código 23 / Saldo R$ 2400<<] [>>Código 46785 / Saldo R$ 1800<<]

In [54]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

# TUPLAS
### Além de ser imutáveis, as posições dos itens normalmente são "fixas", como indicando categoria para cada índice (0 - nome, 1 - idade, 2 - sexo, 4 - endereço, etc...)

In [55]:
rodrigo = ('Rodrigo', 41, 1981)
sara = ('Sara', 46, 1976)
rodrigo.append(4545)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# melissa = (12, 'Melissa', 2010)
# Isso é muito ruim, pois não está obedecendo o padrão que eu mesmo criei de nome, idade, ano.

In [56]:
conta_rodrigo = (15, 900)

# conta_rodrigo.deposita() # Seria uma variação de Orientação a Objetos, mas NÃO funciona, pois tupla não tem método.

conta_rodrigo[1] # Acesso dentro da tupla funciona.

900

In [58]:
conta_rodrigo[1] += 300

TypeError: 'tuple' object does not support item assignment

In [59]:
def deposita(conta): # Variação "Funcional" (separando o comportamento dos dados)
    novo_saldo = conta[1] + 300
    codigo = conta[0]
    return (codigo, novo_saldo) # Nova tupla

In [60]:
deposita(conta_rodrigo)

(15, 1200)

In [61]:
conta_rodrigo

(15, 900)

In [62]:
conta_rodrigo = deposita(conta_rodrigo)
conta_rodrigo

(15, 1200)

# Misturas

In [64]:
usuarios = [rodrigo, sara] #Tuplas dentro de lista
usuarios

[('Rodrigo', 41, 1981), ('Sara', 46, 1976)]

In [66]:
usuarios.append(('Miguel', 10, 20213))

In [67]:
usuarios

[('Rodrigo', 41, 1981), ('Sara', 46, 1976), ('Miguel', 10, 20213)]

In [68]:
usuarios[0][0] = 'Rodrigo A. Tenório'

TypeError: 'tuple' object does not support item assignment

In [69]:
conta_rodrigo = ContaCorrente(36)
conta_rodrigo.deposita(600)
conta_sara = ContaCorrente(45967)
conta_sara.deposita(3000)

contas = (conta_rodrigo, conta_sara)

In [70]:
contas

(<__main__.ContaCorrente at 0x103cb4f50>,
 <__main__.ContaCorrente at 0x106273110>)

In [71]:
for conta in contas:
    print(conta)

[>>Código 36 / Saldo R$ 600<<]
[>>Código 45967 / Saldo R$ 3000<<]

In [72]:
contas.append(12890)

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
contas[0].deposita(450)
contas

(<__main__.ContaCorrente at 0x103cb4f50>,
 <__main__.ContaCorrente at 0x106273110>)

In [74]:
for conta in contas:
    print(conta)

[>>Código 36 / Saldo R$ 1050<<]
[>>Código 45967 / Saldo R$ 3000<<]