## LISTAS
### São mutáveis (e isso pode ser perigoso) e normmalmente montamos listas de mesmo tipo (e categoria de objetos) como, lista1 de nomes (string), lista2 com idades(int), lista3 com alturas(float), etc.

In [1]:
idade_r = 41
idade_s = 46
idade_me = 12
idade_mi = 10

print(idade_r)
print(idade_s)
print(idade_me)
print(idade_mi)

41
46
12
10

In [2]:
idades = [idade_r, idade_s, idade_me, idade_mi]
print(idades)

[41, 46, 12, 10]

In [3]:
# Quando temos mais de uma linha no notebook, apenas a última linha é impressa automaticamente e,
# nas anteriores, somos obrigados a usar a função print()
print(type(idades))
(len(idades))

<class 'list'>

4

In [4]:
idades.append(70)
idades

[41, 46, 12, 10, 70]

In [5]:
idades[3]

10

In [6]:
for idade in idades:
    print(idade)

41
46
12
10
70

In [7]:
idades.remove(70)
idades

[41, 46, 12, 10]

In [8]:
idades.append(46)
idades.remove(46)
idades

[41, 12, 10, 46]

In [9]:
idades.clear()
idades

[]

In [10]:
idades = [9,12,15,18,21]
idades

[9, 12, 15, 18, 21]

In [11]:
33 in idades

False

In [12]:
15 in idades

True

In [13]:
if 21 in idades:
    idades.remove(21)

idades

[9, 12, 15, 18]

In [14]:
if 32 in idades:
    idades.remove(32)

idades

[9, 12, 15, 18]

In [15]:
idades.insert(0,3)
idades

[3, 9, 12, 15, 18]

In [16]:
idades.append([45,60])
idades

[3, 9, 12, 15, 18, [45, 60]]

In [17]:
for elemento in idades:
    print('Recebi o elemento', elemento)

Recebi o elemento 3
Recebi o elemento 9
Recebi o elemento 12
Recebi o elemento 15
Recebi o elemento 18
Recebi o elemento [45, 60]

In [18]:
idades = [3,9,12,15,18]
idades.extend([45,60])
idades

[3, 9, 12, 15, 18, 45, 60]

In [19]:
for idade in idades:
    print(idade + 1)

4
10
13
16
19
46
61

In [20]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)
idades_no_ano_que_vem

[4, 10, 13, 16, 19, 46, 61]

In [21]:
[(idade + 1) for idade in idades]

[4, 10, 13, 16, 19, 46, 61]

In [22]:
idades_proximo_ano = [(idade + 1) for idade in idades]
idades_proximo_ano

[4, 10, 13, 16, 19, 46, 61]

In [23]:
[idade for idade in idades if idade > 40]

[45, 60]

In [24]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 39]

[46, 61]

## Problemas da mutabilidade da lista

In [25]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [26]:
idades_original = [16,21,29,56,43]
faz_processamento_de_visualizacao(idades_original)

5
[16, 21, 29, 56, 43]
[16, 21, 29, 56, 43, 13]

In [27]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [28]:
faz_processamento_de_visualizacao()

0
[]
[13]

In [29]:
faz_processamento_de_visualizacao()

1
[13]
[13, 13]

In [30]:
faz_processamento_de_visualizacao()

2
[13, 13]
[13, 13, 13]

In [31]:
faz_processamento_de_visualizacao()

3
[13, 13, 13]
[13, 13, 13, 13]

In [32]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [33]:
faz_processamento_de_visualizacao(lista = list())
faz_processamento_de_visualizacao(lista = list())
faz_processamento_de_visualizacao(lista = list())

0
[]
[13]
0
[]
[13]
0
[]
[13]

In [34]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)
    print(lista)

In [35]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
[13]
0
[]
[13]
0
[]
[13]
0
[]
[13]

## OBJETOS PRÓPRIOS

In [40]:
class ContaCorrente: # Definimos a classe

    def __init__(self, codigo): # Aqui definimos seu contrutor
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor): # Aqui definimos um método para esta classe
        self.saldo += valor

    def __str__(self): # E aqui definimos sua representação de string
        return f'[>>Código {self.codigo} / Saldo R$ {self.saldo}<<]'

In [41]:
conta_rodrigo = ContaCorrente(23)
print(conta_rodrigo)

[>>Código 23 / Saldo R$ 0<<]

In [42]:
conta_rodrigo.deposita(900)
print(conta_rodrigo)

[>>Código 23 / Saldo R$ 900<<]

In [43]:
conta_sara = ContaCorrente(46785)
conta_sara.deposita(1200)
print(conta_sara)

[>>Código 46785 / Saldo R$ 1200<<]

In [44]:
# Assim, ele retorna cada OBJETO (e sua posição na memória)
contas = [conta_rodrigo, conta_sara]
print(contas)

[<__main__.ContaCorrente object at 0x103ce8d10>, <__main__.ContaCorrente object at 0x103da5590>]

In [45]:
# E assim, o print de um objeto específico, retorna a representação de string dele
contas = [conta_rodrigo, conta_sara]
for conta in contas:
    print(conta)

[>>Código 23 / Saldo R$ 900<<]
[>>Código 46785 / Saldo R$ 1200<<]

In [46]:
# Aqui só existe 2 objetos, um conta_sara e um conta_rodrigo, pois da forma que foi feito eu não instanciei duas conta_rodrigo, apenas listei (referenciei) ele duas vezes. Isso pode ser perigoso, devido mutabilidade

contas = [conta_rodrigo, conta_sara, conta_rodrigo]
print(contas[0])
print(contas[1])
print(contas[2])

[>>Código 23 / Saldo R$ 900<<]
[>>Código 46785 / Saldo R$ 1200<<]
[>>Código 23 / Saldo R$ 900<<]

In [47]:
contas[2].deposita(900)
print(contas[0])
print(contas[2])

[>>Código 23 / Saldo R$ 1800<<]
[>>Código 23 / Saldo R$ 1800<<]

In [52]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(300)

contas = [conta_rodrigo, conta_sara]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Código 23 / Saldo R$ 2100<<] [>>Código 46785 / Saldo R$ 1500<<]
[>>Código 23 / Saldo R$ 2400<<] [>>Código 46785 / Saldo R$ 1800<<]

In [53]:
# Neste exemplo, agora "contas" recebe na posição 0 o número da agência 96
contas.insert(0, 96)
print(contas[0], contas[1], contas[2])

96 [>>Código 23 / Saldo R$ 2400<<] [>>Código 46785 / Saldo R$ 1800<<]

In [54]:
deposita_para_todas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

## TUPLAS
### Além de ser imutáveis, as posições dos itens normalmente são "fixas", como indicando categoria para cada índice (0 - nome, 1 - idade, 2 - sexo, 4 - endereço, etc...)

In [55]:
rodrigo = ('Rodrigo', 41, 1981)
sara = ('Sara', 46, 1976)
rodrigo.append(4545)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# melissa = (12, 'Melissa', 2010)
# Isso é muito ruim, pois não está obedecendo o padrão que eu mesmo criei de nome, idade, ano.

In [56]:
conta_rodrigo = (15, 900)

# conta_rodrigo.deposita() # Seria uma variação de Orientação a Objetos, mas NÃO funciona, pois tupla não tem método.

conta_rodrigo[1] # Acesso dentro da tupla funciona.

900

In [58]:
conta_rodrigo[1] += 300

TypeError: 'tuple' object does not support item assignment

In [59]:
def deposita(conta): # Variação "Funcional" (separando o comportamento dos dados)
    novo_saldo = conta[1] + 300
    codigo = conta[0]
    return (codigo, novo_saldo) # Nova tupla

In [60]:
deposita(conta_rodrigo)

(15, 1200)

In [61]:
conta_rodrigo

(15, 900)

In [62]:
conta_rodrigo = deposita(conta_rodrigo)
conta_rodrigo

(15, 1200)

## MISTURAS

In [64]:
usuarios = [rodrigo, sara] #Tuplas dentro de lista
usuarios

[('Rodrigo', 41, 1981), ('Sara', 46, 1976)]

In [66]:
usuarios.append(('Miguel', 10, 20213))

In [67]:
usuarios

[('Rodrigo', 41, 1981), ('Sara', 46, 1976), ('Miguel', 10, 20213)]

In [68]:
usuarios[0][0] = 'Rodrigo A. Tenório'

TypeError: 'tuple' object does not support item assignment

In [69]:
conta_rodrigo = ContaCorrente(36)
conta_rodrigo.deposita(600)
conta_sara = ContaCorrente(45967)
conta_sara.deposita(3000)

contas = (conta_rodrigo, conta_sara)

In [70]:
contas

(<__main__.ContaCorrente at 0x103cb4f50>,
 <__main__.ContaCorrente at 0x106273110>)

In [71]:
for conta in contas:
    print(conta)

[>>Código 36 / Saldo R$ 600<<]
[>>Código 45967 / Saldo R$ 3000<<]

In [72]:
contas.append(12890)

AttributeError: 'tuple' object has no attribute 'append'

In [73]:
contas[0].deposita(450)
contas

(<__main__.ContaCorrente at 0x103cb4f50>,
 <__main__.ContaCorrente at 0x106273110>)

In [74]:
for conta in contas:
    print(conta)

[>>Código 36 / Saldo R$ 1050<<]
[>>Código 45967 / Saldo R$ 3000<<]

## HERANÇA E POLIMORFISMO

In [2]:
class Conta: # Definimos a classe

    def __init__(self, codigo): # Aqui definimos seu contrutor
        self._codigo = codigo # _ antes de codigo torna "privado"
        self._saldo = 0

    def deposita(self, valor): # Aqui definimos um método para esta classe
        self._saldo += valor

    def __str__(self): # E aqui definimos sua representação de string
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [3]:
print(Conta(93))

[>>Código 93 / Saldo R$ 0<<]

In [5]:
class ContaCorrente(Conta):

    def passa_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):

    def passa_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [6]:
conta15 = ContaCorrente(15)
conta15.deposita(1200)
conta15.passa_mes()
print(conta15)

[>>Código 15 / Saldo R$ 1198<<]

In [7]:
conta18 = ContaPoupanca(18)
conta18.deposita(1200)
conta18.passa_mes()
print(conta18)

[>>Código 18 / Saldo R$ 1209.0<<]

In [9]:
conta15 = ContaCorrente(15)
conta15.deposita(1200)
conta18 = ContaPoupanca(18)
conta18.deposita(1200)
contas = [conta15, conta18]

for conta in contas:
    conta.passa_mes() # duck typing
    print(conta)

[>>Código 15 / Saldo R$ 1198<<]
[>>Código 18 / Saldo R$ 1209.0<<]

## ARRAYS E NUMPY
### Evite usar o Array padrão do Python!
### Para trabalhos numéricos de alto desempenho, o costume é usar NumPy.

In [12]:
import array as arr

arr.array('d', [1, 3.5]) # O Array obriga a indicar o tipo de dados com objetivo de otimizar o processamento, sobretudo em questões envolvendo números. Mas ainda assim, se o objetivo for desempenho, é mais aconselhável usar o NumPy.

array('d', [1.0, 3.5])

In [15]:
pip install numpy # As vezes devemos usar !pip para instalação dentro do Jupyter Notebook. Mas aqui testando no VS Code (em Mac) não foi necessário.

Collecting numpy
  Downloading numpy-1.24.2-cp311-cp311-macosx_10_9_x86_64.whl (19.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.8/19.8 MB 5.9 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
Successfully installed numpy-1.24.2

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [19]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [20]:
numeros + 3

array([4. , 6.5])

## MÉTODO ABSTRATO

In [23]:
from abc import ABCMeta, abstractmethod

In [24]:
class Conta(metaclass=ABCMeta):

    def __init__(self, codigo): 
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    @abstractmethod
    def passa_mes(self):
        pass

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [38]:
class ContaInvestimento(Conta):
    pass

In [41]:
conta63 = ContaInvestimento(63)
conta63.deposita(200)
print(conta63)

TypeError: Can't instantiate abstract class ContaInvestimento with abstract method passa_mes

## IGUALDADE E O __EQ__

In [43]:
class ContaSalario:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [46]:
conta1 = ContaSalario(37)
print(conta1)

[>>Código 37 / Saldo R$ 0<<]

In [47]:
conta2 = ContaSalario(37)
print(conta2)

[>>Código 37 / Saldo R$ 0<<]

In [48]:
conta1 == conta2 # Independente de terem os mesmos valores, cada um é um objeto e, portanto, a comparação simples (==) vai dar False.

False

In [49]:
contas = [conta1]
conta1 in contas

True

In [50]:
conta2 in contas

False

In [55]:
class ContaSalarioMelhor:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro): # Método __eq__ nos permite definir parâmetros de igualdade entre ojetos. Ou seja, isso ocorre para os quesitos que nos escolhermos, não exatamemte comparar os objetos em si, já que esses sempre serão únicos.
        return self._codigo == outro._codigo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [56]:
conta3 = ContaSalarioMelhor(69)
print(conta3)

[>>Código 69 / Saldo R$ 0<<]

In [57]:
conta4 = ContaSalarioMelhor(69)
print(conta4)

[>>Código 69 / Saldo R$ 0<<]

In [59]:
conta3 == conta4 # Agora, devido implementação do método __eq__ com um valor de igualdade, a comparação retorna True.

True

In [60]:
conta3 != conta4

False

In [61]:
contas = [conta3]

In [62]:
conta3 in contas

True

In [63]:
conta4 in contas

True

In [64]:
class ContaSalarioMelhorAinda:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro): # Método __eq__ nos permite definir parâmetros de igualdade entre ojetos. Ou seja, isso ocorre para os quesitos que nos escolhermos, não exatamemte comparar os objetos em si, já que esses sempre serão únicos.
        return self._codigo == outro._codigo and self._saldo == outro._saldo # Estas comparações e validações vão depender das regras de negócio.

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [66]:
conta5 = ContaSalarioMelhorAinda(72)
conta5.deposita(720)
print(conta5)

[>>Código 72 / Saldo R$ 720<<]

In [68]:
conta6 = ContaSalarioMelhorAinda(72)
conta6.deposita(330)
print(conta6)

[>>Código 72 / Saldo R$ 330<<]

In [69]:
conta5 == conta6

False

In [46]:
class ContaSalarioMelhorAindaMais:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais: # Comparação do tipo dos objetos e isso deve ser a primeira validação.
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [73]:
conta7 = ContaSalarioMelhorAindaMais(39)
conta8 = ContaSalario(39)

In [74]:
conta7 == conta8

False

In [75]:
print(type(conta7))
print(type(conta8))

<class '__main__.ContaSalarioMelhorAindaMais'>
<class '__main__.ContaSalario'>

In [77]:
class ContaSalarioMelhorAindaMaisMelhor:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais: # Comparação do tipo dos objetos e isso deve ser a primeira validação.
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'
    
class ContaMultiploSalario(ContaSalarioMelhorAindaMaisMelhor): 
    pass
# Agora, por ContaMultiploSalario ser filha da MaisMmelhor, temos a flexibilidade de serem consideradas iguais.

In [78]:
conta9 = ContaSalarioMelhorAindaMaisMelhor(31)
conta10 = ContaMultiploSalario(39)
conta11 = ContaCorrente(98)

In [81]:
print(isinstance(conta9, ContaSalarioMelhorAindaMaisMelhor))
print(isinstance(conta10, ContaSalarioMelhorAindaMaisMelhor))
print(isinstance(conta11, ContaSalarioMelhorAindaMaisMelhor))
#isinstance também é uma forma de verificar igualdade de objetos.

True
True
False

## BUILTINS COMO ENUMERATED, RANGE E DESEMPACOTAMENTO AUTOMÁTICO DE TUPLAS

In [2]:
idades = [41, 46, 12, 10, 23, 39, 69, 23]

for i in range(len(idades)):
    print(i, idades[i])

0 41
1 46
2 12
3 10
4 23
5 39
6 69
7 23

In [3]:
type(range(len(idades))) # lazy...

range

In [4]:
range(len(idades)) # lazy... Ou seja, ele é um gerador pronto para
#retornar os valores, mas ainda não o fez, apenas fica esperando.

range(0, 8)

In [6]:
enumerate(idades) # lazy...

In [8]:
list(range(len(idades))) # Com list, forçamos a geração de valores.

[0, 1, 2, 3, 4, 5, 6, 7]

In [9]:
list(enumerate(idades))

[(0, 41), (1, 46), (2, 12), (3, 10), (4, 23), (5, 39), (6, 69), (7, 23)]

In [10]:
for valor in enumerate(idades):
    print(valor)

(0, 41)
(1, 46)
(2, 12)
(3, 10)
(4, 23)
(5, 39)
(6, 69)
(7, 23)

In [14]:
for indice, idade in enumerate(idades):
# Desta forma já desempacotamos a tupla.
    print(indice, idade)

0 41
1 46
2 12
3 10
4 23
5 39
6 69
7 23

In [16]:
usuarios = [
    ('Rodrigo', 41, 1981),
    ('Leonardo', 39, 1983),
    ('Elaine', 49, 1973)
]

for nome, idade, nascimento in usuarios:
    print(nome)
 # Desta forma já desempacotamos a tupla e usamos só o necessário.

Rodrigo
Leonardo
Elaine

In [17]:
for nome, _, _ in usuarios:
    print(nome)
# Já desempacotamos, mas o _ indica variáveis que devem ser ignoradas.

Rodrigo
Leonardo
Elaine

In [19]:
for nome, _ in usuarios:
    print(nome)
# Aqui deu erro porque pedimos 2 elementos, mas lista em que executamos
# tem 3 elementos.

ValueError: too many values to unpack (expected 2)

## ORDENAÇÃO BÁSICA

In [3]:
idades

[41, 46, 12, 10, 23, 39, 69, 23]

In [4]:
sorted(idades)

[10, 12, 23, 23, 39, 41, 46, 69]

In [6]:
list(reversed(idades))

[23, 69, 39, 23, 10, 12, 46, 41]

In [8]:
sorted(idades, reverse = True) # Melhor para listas pequenas.

[69, 46, 41, 39, 23, 23, 12, 10]

In [9]:
list(reversed(sorted(idades)))
# Para listas grandes ou atuar de forma mais controlada, melhor desta forma.

[69, 46, 41, 39, 23, 23, 12, 10]

In [10]:
idades # Independente da escolha, a variável inicial não é alterada.

[41, 46, 12, 10, 23, 39, 69, 23]

In [11]:
idades.sort() # .sort() altera a variável.

In [12]:
idades

[10, 12, 23, 23, 39, 41, 46, 69]

## ORDENAÇÃO DE OBJETOS SEM ORDEM NATURAL

In [1]:
nomes =['Rodrigo', 'Sara', 'Melissa','Miguel']
sorted(nomes)

['Melissa', 'Miguel', 'Rodrigo', 'Sara']

In [2]:
nomes =['rodrigo', 'Sara', 'melissa','Miguel']
sorted(nomes)

['Miguel', 'Sara', 'melissa', 'rodrigo']

In [3]:
class ContaSalarioMAMM:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [5]:
conta_do_rodrigo = ContaSalarioMAMM(23)
conta_do_rodrigo.deposita(900)

conta_da_sara = ContaSalarioMAMM(1)
conta_da_sara.deposita(1500)

conta_do_miguel = ContaSalarioMAMM(119)
conta_do_miguel.deposita(450)

conta_da_melissa = ContaSalarioMAMM(222)
conta_da_melissa.deposita(600)

contas = [conta_da_sara, conta_da_melissa, conta_do_miguel, conta_do_rodrigo]

In [6]:
for conta in contas:
    print(conta)

[>>Código 1 / Saldo R$ 1500<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 119 / Saldo R$ 450<<]
[>>Código 23 / Saldo R$ 900<<]

In [7]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalarioMAMM' and 'ContaSalarioMAMM'

In [9]:
# Não é possível fazer comparações entre as contas.
conta_do_rodrigo < conta_da_sara

TypeError: '<' not supported between instances of 'ContaSalarioMAMM' and 'ContaSalarioMAMM'

In [10]:
def extrai_saldo(conta):
    return conta._saldo # _saldo é privado e não é adequado usá-lo.

sorted(contas, key=extrai_saldo)

[<__main__.ContaSalarioMAMM at 0x28041eb46d0>,
 <__main__.ContaSalarioMAMM at 0x28041ec41d0>,
 <__main__.ContaSalarioMAMM at 0x280409e9d10>,
 <__main__.ContaSalarioMAMM at 0x28041f6ac10>]

In [11]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Código 119 / Saldo R$ 450<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 23 / Saldo R$ 900<<]
[>>Código 1 / Saldo R$ 1500<<]

In [12]:
from operator import attrgetter

In [14]:
# Usando attrgetter não precisamos usar outra função para acessar
# um atributo, seja público ou privado.
for conta in sorted(contas, key=attrgetter('_saldo')):
    print(conta)

[>>Código 119 / Saldo R$ 450<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 23 / Saldo R$ 900<<]
[>>Código 1 / Saldo R$ 1500<<]

In [16]:
class ContaSalarioMAMMComparativo:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro): # lt de menor que.
        return self._saldo < outro._saldo # Não quebramos encapsulamento por estar dentro da classe.

    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [17]:
conta_do_rodrigo = ContaSalarioMAMMComparativo(23)
conta_do_rodrigo.deposita(900)

conta_da_sara = ContaSalarioMAMMComparativo(1)
conta_da_sara.deposita(1500)

conta_do_miguel = ContaSalarioMAMMComparativo(119)
conta_do_miguel.deposita(450)

conta_da_melissa = ContaSalarioMAMMComparativo(222)
conta_da_melissa.deposita(600)

contas_comparadas = [conta_da_sara, conta_da_melissa, conta_do_miguel, conta_do_rodrigo]

In [18]:
conta_do_rodrigo < conta_da_sara

True

In [19]:
conta_do_rodrigo > conta_da_sara

False

In [20]:
for conta in sorted(contas_comparadas):
    print(conta)

[>>Código 119 / Saldo R$ 450<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 23 / Saldo R$ 900<<]
[>>Código 1 / Saldo R$ 1500<<]

In [21]:
for conta in sorted(contas_comparadas, reverse=True):
    print(conta)

[>>Código 1 / Saldo R$ 1500<<]
[>>Código 23 / Saldo R$ 900<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 119 / Saldo R$ 450<<]

## ORDENAÇÃO COMPLETA E FUNCTOOLS

In [26]:
class ContaSalarioMAMMC2:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro): # Comparação pode ser mais complexa.
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [27]:
conta_do_rodrigo = ContaSalarioMAMMC2(23)
conta_do_rodrigo.deposita(900)

conta_da_sara = ContaSalarioMAMMC2(1)
conta_da_sara.deposita(900)

conta_do_miguel = ContaSalarioMAMMC2(119)
conta_do_miguel.deposita(450)

conta_da_melissa = ContaSalarioMAMMC2(222)
conta_da_melissa.deposita(600)

contas_comparadas = [conta_da_sara, conta_da_melissa, conta_do_miguel, conta_do_rodrigo]

In [28]:
for conta in sorted(contas_comparadas):
    print(conta)

[>>Código 119 / Saldo R$ 450<<]
[>>Código 222 / Saldo R$ 600<<]
[>>Código 1 / Saldo R$ 900<<]
[>>Código 23 / Saldo R$ 900<<]

In [29]:
conta_do_rodrigo < conta_da_sara

False

In [30]:
conta_do_rodrigo > conta_da_sara

True

In [32]:
conta_do_rodrigo == conta_da_sara

NameError: name 'ContaSalarioMelhorAindaMais' is not defined

In [33]:
conta_do_rodrigo <= conta_da_sara

TypeError: '<=' not supported between instances of 'ContaSalarioMAMMC2' and 'ContaSalarioMAMMC2'

In [42]:
from functools import total_ordering

@total_ordering # total_ordering nos dá todas as ordenações possíveis.
class ContaSalarioMAMMC3:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def __eq__(self, outro):
        if type(outro) != ContaSalarioMelhorAindaMais:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def __lt__(self, outro): # Comparação pode ser mais complexa.
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor

    def __str__(self):
        return f'[>>Código {self._codigo} / Saldo R$ {self._saldo}<<]'

In [44]:
conta_do_rodrigo = ContaSalarioMAMMC3(23)
conta_do_rodrigo.deposita(900)

conta_da_sara = ContaSalarioMAMMC3(1)
conta_da_sara.deposita(900)

conta_do_miguel = ContaSalarioMAMMC3(119)
conta_do_miguel.deposita(450)

conta_da_melissa = ContaSalarioMAMMC3(222)
conta_da_melissa.deposita(600)

contas_comparadas = [conta_da_sara, conta_da_melissa, conta_do_miguel, conta_do_rodrigo]

In [47]:
conta_do_rodrigo <= conta_da_sara

False

In [48]:
conta_do_rodrigo > conta_da_sara

True

In [49]:
conta_do_rodrigo < conta_da_sara

False

In [50]:
conta_do_rodrigo > conta_do_rodrigo

True

In [51]:
conta_do_rodrigo < conta_do_rodrigo

False

In [52]:
conta_do_rodrigo == conta_do_rodrigo

False

In [53]:
conta_do_rodrigo <= conta_do_rodrigo

False